NEXT_PUBLIC_SITE_URL=https://projectorbach.tv
NEXT_PUBLIC_YOUTUBE_CHANNEL_ID=UCNed650oEtpFfW6gHNCpXXQ
NEXT_PUBLIC_YOUTUBE_LIVE_VIDEO_ID=
YOUTUBE_API_KEY=

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=

NOWPAYMENTS_API_KEY=
NOWPAYMENTS_IPN_SECRET=
